@model MvcUrunTakip.Models.Entities.tblMusteri
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post" action="/Musteriler/MusteriEkle">
    <br />
    <h2>Müşteri Ekle Sayfası</h2>
    <br />
    <div class="form-group">
        <label>Müşteri Adı Giriniz : </label>
        <input type="text" class="form-control" name="Musteri_Ad" placeholder="Müşteri Ad..." />
        @Html.ValidationMessageFor(x => x.Musteri_Ad, "", new { @style = "color : red" })       
    </div>
    <br />
    <div class="form-group">
        <label>Müşteri Soyad Giriniz : </label>
        <input type="text" class="form-control" name="Musteri_Soyad" placeholder="Müşteri Soyad..." />
        @Html.ValidationMessageFor(x => x.Musteri_Soyad, "", new { @style = "color : red" })
    </div>
    <br />
    <div class="form-group">
        <label>Müşteri Şehir Giriniz : </label>
        <input type="text" class="form-control" name="Musteri_Sehir" placeholder="Müşteri Şehir..." />
        @Html.ValidationMessageFor(x => x.Musteri_Sehir, "", new { @style = "color : red" })
    </div>
    <br />
    <div class="form-group">
        <label>Müşteri Bakiye Giriniz : </label>
        <input type="text" class="form-control" name="Musteri_Bakiye" placeholder="Müşteri Bakiye..." />
        @Html.ValidationMessageFor(x => x.Musteri_Bakiye, "", new { @style = "color : red" })
    </div>
    <br />
    <button class="btn btn-success" type="submit">Kaydet</button>
</form>